*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tb-header: #ff6900;
    --tb-footer: #1a1a1a;
}


/* #region Header */
.container_header{
    background-color: var(--tb-header);
    height: 50px;
    width: 100%;
    display: flex;

}

.container_header > div {
    margin: auto;
    width: 70%;
    height: 25px;
    background-color: var(--tb-header);
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.link_header li{
    /* align-items:center; */

    display: inline-block;
    list-style: none;
}

.link_header li a {
    text-decoration: none;
    color: white;
    font-size: 8px;
}

.logo_header {
    a/* lign-items:center; */

    height: 100%;
}

.logo_header img{
    height: 15px;
    /* align-items:center; */
}

.shop_header{
    color: white;
}


.shop_header {
    display: inline-block;
}

.shop_header li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 8px;
}

/* #endregion Header */

/* #region Main  */

#app-main {
    position: relative;
}

.container_main {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    left: 25%;
}

.container_image{
  /*   width: calc(100% / 12 * 4 ); */
    height: 400px;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 20px;
    position: relative;
}

.image{
  width: 100%;
  position: relative;
  height: 400px;
  background-size: cover;
  margin-bottom: 40px;
}

.image .hearts{
    position: absolute;
    top: 2px;
    right: -1px;
    background-color: white;
    padding: 2px 5px;
}

.sales {
    background-color: red;
    position: absolute;
    bottom: 45px;
    left: 0;
    font-size: 7px;
    color: white;
    padding: 4px;
}

.comments {
    background-color: green;
    position: absolute;
    bottom: 45px;
    left: 27px;
    font-size: 7px;
    color: white;
    padding: 4px;

}

.viability{
    background-color: green;
    position: absolute;
    bottom: 45px;
    left: 0;
    font-size: 7px;
    color: white;
    padding: 4px;
}

.brand {
    font-size: 7px;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.details{
    font-size: 7px;
    position: absolute;
    bottom:-14px;
    left: 0;
}

.final_price{
    font-size: 6px;
    position: absolute;
    bottom:-19px;
    left: 0;
    color: red;
}

.barred{
    font-size: 5px;
    position: absolute;
    bottom: -19px;
    left: 21px;
    color: black;
}

.hearts{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: white;
    padding: 6px;
}


/* #endregion Main */

/* #region Footer */
.banner_footer{
    background-color: var(--tb-footer);
    height: 100px;
    display: flex;
}

.banner_footer > div 
{   
    display: inline-grid;
    color: white;
    width: 45%;
    margin: auto;
    align-items: center;
    height: 100px;
}

.info{
    align-items: flex-end;
}

.info_banner {
    font-size: 10px;
    color: white;
}

.social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

/* #endregion Footer */

